html, body {
  margin: 0;
  padding: 0;
  background: black;
}

canvas {
  display: block;
}

.pe-stack{
  display: absolute;
  height: 100%;
  overflow: hidden;
  background: none;
}
.pe-start{
  max-height: 0px;
  transition: 0.5s max-height ease-in-out;
}
.pe-end{
  max-height: 40em;
  transition: 0.5s max-height  ease-in-out;
}
.pe-frame{
  color: aliceblue;
  display: flex;
  flex-direction: column;    
  background: rgba(0,0,0,.7);
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  min-width: 40em;
  height:50%;
  overflow: auto;
  /* border-style: solid; */
  /* border-color:whitesmoke; */
}
.pe-selected-frame{
  background: rgba(255, 255, 255, 0.7);;
  color:black;
  display: flex;
  flex-direction: column;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  min-width: 40em;
  height:50%;
  overflow: auto;
  /* border-style: solid; */
  /* border-color:black; */
}
.pe-desc{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1em;
  padding-bottom: 0em;
}
.pe-notation{
  flex-shrink: 0;
  margin-right: 30px;
  
}
.pe-comment{
  max-height: 0em;
  font-style: italic;
  margin-top: 0em;
  visibility: hidden;
  overflow: hidden;
  transition: 0.5s all linear;
}
.pe-full:hover .pe-comment{
  max-height: 20em;
  font-style: italic;
  margin-top: 1em;
  visibility: inherit;
  overflow: hidden;
  transition: 0.5s all linear;
}
.pe-statement{
  flex-grow: 4;
}
.pe-components{
  display: flex;
  grid-auto-flow: row;
  padding: 1em;
  padding-top: 0em;
}
.left-comps, .right-comps{
  display: block;
  min-width: 18em;
  height:auto;
}
.left-comps {
  flex-shrink: 1;
  padding-right: 0.5em;
}
.right-comps{
  flex-shrink: 1;
  padding-left:0.5em
}
.practices{
  margin-top: auto;
}
.ccc{
  margin-top: auto;
}
.left-contr{
  display: flex;
  margin-top: auto;
}
li{
  margin-top:1em;
}
span{
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  transition: 0.5s all ease;
}
span:hover{
  -webkit-line-clamp: 20;
  -webkit-box-orient: vertical;
  transition: 0.5s all ease;
}
